GitPython
black
colorama
func_timeout
ipykernel
matplotlib
mypy
numpy
openpyxl
pandas
pillow
pip-tools
pytest
requests
ruamel.yaml
wheel
seaborn
pyogrio
geopandas
notebook
jupyter-server
jupyterlab_rise
# rise
# pyright
# python-language-server
# python-lsp-server