black
colorama
fiona
func_timeout
geopandas
GitPython
ipykernel
matplotlib
mypy
notebook
numpy
openpyxl
pandas
pillow
pip-tools
pyogrio
pyproj
pytest
requests
rtree
ruamel.yaml
seaborn
shapely
wheel
jupyter-server
jupyterlab_rise
# rise
# pyright
# python-language-server
# python-lsp-server